{% load static %}
{% load bootstrap5 %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/main-icon.png' %}"/>
        <title>Trello</title>
    </head>

    <body style="overflow-y: hidden;overflow-x: hidden;font-family:'Montserrat' !important;">
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="position: relative;z-index: 1;background-color: hsl(225deg 31.07% 33.17%) !important;;border: 1px solid #69759b;">
            <div style="width: 42px;"></div>
            <div class="container-fluid top-menu">
                <a class="navbar-brand" href="#">Navbar w/ text</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText" style="margin-left: 84px;">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'backend:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'backend:settings' %}">Settings</a>
                    </li>
                    </ul>
                    <span class="navbar-text">
                    Планирование и оценка действий
                    </span>
                </div>
            </div>
        </nav>

        <div class="right-menu" style="position: relative;">
            <ul style="list-style-type: none;padding: 0;">
                <li><a href="{% url 'backend:index' %}">Главная</a></li>
                <li><a href="{% url 'backend:calendar' %}">Календарь</a></li>
                <li><a href="{% url 'backend:ideas' %}">Идеи</a></li>
                <li><a href="">что-что</a></li>
                <li><a href="">что-что</a></li>
            </ul>
        </div>

        <img src="/static/use_image/{{ image }}" class="main-image">
        {% block content %}
        
        {% endblock %}

        <script>

            // action --------------------------

            try{
                button_action = document.getElementsByClassName('action-change-button')[0]
                button_action.onclick = function(el){
                    block = document.getElementsByClassName('modal-action-edit')[0]
                    block.style.display = "block"
                    console.log(block)
                }
            }
            catch{
                console.log("")
            }

            try{
                btn_close = document.getElementsByClassName('btn-close-action')[0]
                btn_close.onclick = function(el){
                    modal_action = document.getElementsByClassName('modal-action-edit')[0]
                    modal_action.style.display = "none"
                }
            }
            catch{
                console.log("")
            }


            let card_add_button = document.getElementsByClassName("card-link-add")
            for (let i = 0; i < card_add_button.length; i++){
                card_add_button[i].onclick = function(el){
                    let card_add_form = card_add_button[i].parentNode
    
                    console.log(card_add_form, card_add_form.childNodes[5])
    
                    card_add_button[i].style.display = "none"
                    card_add_button[i].parentNode.childNodes[1].style.display = "none"
                    card_add_form.childNodes[5].style.display = "block"
                }
            }

            // modal --------------------------

            try{
                button_action = document.getElementsByClassName('button-action')
                for (let i = 0; i < button_action.length; i++){
                    button_action[i].onclick = function(el){
                        name = button_action[i].parentNode.parentNode.childNodes[5].childNodes[1].textContent
                        modal_action = document.getElementsByClassName('modal-action')[0]
                        name_input = modal_action.childNodes[1].childNodes[5].childNodes[1].childNodes[3]
                        name_input.value = name
                        modal_action.style.display = "block"
                    }
                }
            }
            catch{
                console.log("")
            }

            try{
                btn_close = document.getElementsByClassName('btn-close')[0]
                btn_close.onclick = function(el){
                    modal_action = document.getElementsByClassName('modal-action')[0]
                    modal_action.style.display = "none"
                }
            }
            catch{
                console.log("")
            }

            // idea ----------------------------
            
            try{
                button_idea = document.getElementsByClassName('button-idea-add')[0]
                card_ideas = document.getElementsByClassName('idea-container')[0]
                button_idea.onclick = function(el){
                    block = document.getElementsByClassName('block-add-idea')[0]
                    block.style.display = "block"
                    button_idea.style.display = "none"
                    card_ideas.style.display = "none"
                }
            }
            catch{
                console.log("")
            }
    
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    </body>

</html>