{% extends "backend/base.html" %} 
{% load static %}

{% block content %}

<div class="container action-container load-animate" style="width:1320px;">
    
    <div class="card action-card">
        <div class="card-body card-body-action">
            <div class="left-action-block flex-center" style="width: 30%;padding:0 20px 0 20px;overflow: hidden;align-items: flex-start;">
                <h3>идея</h3>
                <div class="idea-info-block" style="width: 100%;">
                    <h3>{{ idea.name }}</h3>
                    <h5>дата окончания дедлайна</h5>
                    <p style="margin-bottom: 20px;">{{ idea.final_date }}</p>
                    
                    <h5>описание</h5>
                    <p style="margin-bottom: 20px;height: 127px;overflow: hidden;">{{ idea.describe }}</p>

                    <h5>дни выполнения</h5>

                    <div class="row row-ideas">

                        {% for day in days %}
                        <div class="card" style="width: 18rem;height: max-content;">

                            <a href="/backend/card_delete/1/" class="delete_card">
                                <img src="/static/icons/icon-minus.png" style="width: 20px;height: 20px;">
                            </a>
        
                            <div class="blur-block"></div>
                            <div class="card-body">
                                <h5 class="card-title flex-center">День 1</h5>
                            </div>
                            <ul class="list-group list-group-flush card-cont-action">
                                <li class="li-action flex-center">
                                    <div class="progress-div-action" style="width: 100%;"></div>
                                    <a href="/backend/action_card/1/" style="color: var(--ds-text,inherit);">Курсовой проект</a>
        
                                    <a href="/backend/action_delete/1/" class="delete_action">
                                        <img src="/static/icons/icon-minus.png" style="width: 20px;height: 20px;">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endfor %}
                    </div>

                    <a href="{% url 'backend:idea_delete' idea.pk %}" class="card-add-button button-idea-add flex-center" style="right: 15px;">удалить идею</a>
                </div>
            </div>

            <div class="right-action-block" style="width:34%;padding:0 20px 0 20px;align-items: flex-start;">
                <div class="w-100 flex-center" style="margin-bottom: 20px;"><h3>прогресс</h3></div>
                <div class="w-100 flex-center"><div class="pie animate no-round" style="--p:100;--c:#019400;--b:10px">100%</div></div>
                <div class="w-100 flex-center" style="margin: 35px 0 20px 0;"><h3>эффективность</h3></div>
                <div class="w-100 flex-center"><div class="pie animate no-round" style="--p:100;--c:#019400;--b:10px">100%</div></div>
            </div>

            <div class="idea-actions">
                <div class="w-100 flex-center"><h3>действия</h3></div>
                
                <div class="action-list" style="margin-left: 40px">

                    {% for action in actions %}
                    <a href="">
                        <div class="action-cont">
                            <p class="card-name flex-center">{{ action.card.name }}</p>
                            <div class="action-name flex-center">
                                {{ action.name }}
                                <div class="bottom-block abs.bot-0"></div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}