{% extends "backend/base.html" %} 
{% load static %}

{% block content %}

<div class="main-container load-animate">
    <div class="main-cont">

        <div class="container text-center main card-container">
            <div class="row" style="overflow-x: scroll;display: flex;flex-wrap: wrap;height: max-content;">
                
                <div class="card" style="width: 98%;background: none;padding:0;margin-bottom: 20px;">
                    <div class="link-add flex-center" style="width: 100%;">
                        <div style="width: 200px;">
                            <img src="{% static 'icons/icon-plus-white.png' %}" class="icon-plus" style="width:24px;height:23px;">
                            <a class="card-link-add" href="{% url 'backend:card_add' %}" style="position: relative;left: -4px;top:-1px;">
                                Добавить день
                            </a>
                        </div>
                    </div>
                </div>

                {% for item in cards_sl.values %}

                <div class="card" style="width: 18rem;height: max-content;margin-bottom: 22px;">

                    <a href="{% url 'backend:card_delete' item.card.pk %}" class="delete_card">
                        <img src="{% static 'icons/icon-minus.png' %}" style="width: 20px;height: 20px;">
                    </a>

                    <div class="blur-block"></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.card.name }}</h5>
                        <p style="position: absolute;top: 16px;">{{ item.efficiency }}%</p>
                    </div>
                    <ul class="list-group list-group-flush card-cont-action">

                        {% for act in item.action.values %}
                        <li class="li-action">
                            <div class="progress-div-action" style="width: 
                            {% if act.date_is_bigger and act.action.progress == 0 %}100%;{% else %}{{ act.action.progress }}%;{% endif %}
                            {% if act.date_is_bigger and act.action.progress != 100 and act.action.progress < 50 %}background-color: red;
                            {% elif act.action.progress > 50 and act.action.progress < 100 and act.date_is_bigger %}background-color: #ED760E;{% endif %}"></div>
                            <a href="{% url 'backend:action_card' act.action.pk %}" style="color: var(--ds-text,inherit);">{{ act.action.name }}</a>

                            <a href="{% url 'backend:action_delete' act.action.pk %}" class="delete_action">
                                <img src="{% static 'icons/icon-minus.png' %}" style="width: 20px;height: 20px;">
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                    <div class="card-body">
                        <img src="{% static 'icons/icon-plus.png' %}" class="icon-plus">

                        <!-- Button trigger modal -->
                        <button type="button" class="card-link button-action" style="border: none; outline: none;">
                            Добавить действие
                        </button>
                    </div>
                </div>

                {% endfor %}

                <!-- Modal action -->
                <div class="modal-action" style="display: none;">
                    <form method="post" action="{% url 'backend:action_add' %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" style="margin-bottom: 30px;">Добавление действия</h1>
                            <button type="button" class="btn-close" style="margin-bottom: 37px;"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" required  class="form-label">Название идеи</label>
                                <input name="name-card" class="form-control" id="exampleFormControlInput1" style="margin-bottom: 20px;">

                                <label for="exampleFormControlInput1" required  class="form-label">Название</label>
                                <input name="name" class="form-control" style="margin-bottom: 20px;">
                                
                                <label for="exampleFormControlInput1" class="form-label">Описание</label>
                                <textarea name="describe" class="form-control" id="exampleFormControlInput1" style="height: 100px;resize: inherit;"></textarea>

                                <div style="display: flex;justify-content: space-around;margin-top: 20px;">
                                    <div style="width: 48%;">
                                        <label for="exampleFormControlInput1" class="form-label">важность</label>
                                        <input name="importance" class="form-control" id="exampleFormControlInput1">
                                    </div>
                                    <div style="width: 48%;">
                                        <label for="exampleFormControlInput1" class="form-label">сложность</label>
                                        <input name="complexity" class="form-control" id="exampleFormControlInput1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" style="width: 100%;">Создать</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}